# TODO: use udev instead of polling? https://opensource.com/article/18/11/udev

[Unit]
Requires=dock-connection-handler.service

[Timer]
# Unit=dock-connection-handler.service
OnBootSec=1min
OnUnitActiveSec=15sec

[Install]
WantedBy=timers.target