# TODO: use udev instead of polling? https://opensource.com/article/18/11/udev

[Unit]
Requires=dock-connection-handler.service

[Timer]
OnUnitActiveSec=15sec
AccuracySec=1sec

[Install]
WantedBy=timers.target