[Unit]
Requires=dock-connection-handler.service

[Timer]
# Unit=dock-connection-handler.service
OnBootSec=1min
OnUnitActiveSec=5sec

[Install]
WantedBy=timers.target