[submodule "/home/elliott/.config/nvim/bundle/Vundle.vim"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/home/elliott/.emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "/home/elliott/.themes/Nordic"]
	path = .themes/Nordic
	url = https://github.com/EliverLara/Nordic
[submodule ".themes/.themes"]
	path = .themes/.themes
	url = https://github.com/EliverLara/Juno
[submodule ".themes/Juno"]
	path = .themes/Juno
	url = https://github.com/EliverLara/Juno
