[user]
	email = elliott.shugerman@immuta.com
	name = Elliott Shugerman

[credential]
	helper = store

[core]
	editor = $EDITOR
	pager =  $PAGER

[alias]
	slog = "!git --no-pager log --oneline"
	cp = cherry-pick
	news = "!git fetch --all && git log @..@{upstream}"
	snews = "!git fetch --all && git slog @..@{upstream}"
	gitlab-mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

[pull]
	ff = only

[github]
	user = eeshugerman
