[user]
	email = eshugerman@medianewsgroup.com
	name = Elliott Shugerman
[credential]
	helper = store
[core]
	editor = $EDITOR
[diff "ansible-vault"]
	textconv = ansible-vault view --vault-password-file=ansible/.vault_pass
[alias]
	slog = "!git --no-pager log --oneline"
	cp = cherry-pick
