[submodule "/home/elliott/.emacs.d"]
	path = spacemacs.emacs.d.bk
	url = https://github.com/syl20bnr/spacemacs
[submodule "/home/elliott/.themes/Nordic"]
	path = .themes/Nordic
	url = https://github.com/EliverLara/Nordic
[submodule ".themes/Juno"]
	path = .themes/Juno
	url = https://github.com/EliverLara/Juno
[submodule "/Users/elliott.shugerman/.emacs.d"]
	path = /Users/elliott.shugerman/.emacs.d
	url = https://github.com/doomemacs/doomemacs
