[submodule "/home/elliott/.emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "/home/elliott/.themes/Nordic"]
	path = .themes/Nordic
	url = https://github.com/EliverLara/Nordic
[submodule ".themes/Juno"]
	path = .themes/Juno
	url = https://github.com/EliverLara/Juno
