set visualbell
set noerrorbells
set surround
set iskeyword-=_ 
set number relativenumber
set incsearch
set showmode
set gdefault=off
set hlsearch
set ignorecase
set smartcase


" :command doesn't seem to be supported
" command qo :action CloseAllEditorsButActive<CR>

let mapleader = " "

nmap <leader>qo :action CloseAllEditorsButActive<CR>

nnoremap <CR> :nohlsearch<CR>

nnoremap Y y$
nnoremap vv V
nnoremap V <C-V>$
