set visualbell
set noerrorbells
set surround
set iskeyword-=_ 
set number relativenumber
set incsearch
set showmode
set hlsearch
set ignorecase
set smartcase
set commentary
set gdefault


let mapleader = " "
nmap <leader>qo :action CloseAllEditorsButActive<CR>

nnoremap <CR> :nohlsearch<CR>

nnoremap Y y$
nnoremap vv V
nnoremap V <C-V>$
