**/*.png
**/*.wav
Data/
Effects/
ReaPack/cache/
ReaPack/registry.db
reaper-extstate.ini
reaper-kb.in
reaper-midihw-alsa.ini
reaper-reginfo2.inii
reaper-midihw-linux.ini
reaper-recentfx.ini
reaper-wndpos.ini